.activity_wrapper {
  border-radius: 8px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  border: 2px solid rgb(214, 13, 181);
}

.legend {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}

.legend ul {
  display: flex;
  gap: 50px;
}

.redDot {
  color: red;
}

.blacktxt {
  color: grey;
}

.custom-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 10px;
  background-color: red;
  color: white;
}
/* 
.recharts-tooltip-wrapper {
  visibility: visible;
  background-color: blue;
} */

.barChart {
  border: 1px solid black;
}
