.activity_wrapper{
    border: 1px solid blueviolet;
    width: 837px;
}

.legend {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  font-size: 14px;
}

.legend ul {
  display: flex;
  gap: 50px;
}

.redDot {
  color: red;
}

.blacktxt {
  color: grey;
}
