.topnav-container {
  background-color: #020203;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-logo {
  width: 178px;
}

.topnav-container a {
  text-decoration: none;
  color: white;
}
