.topnav-container {
  background-color: #020203;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100vw;
}

.main-logo {
  max-width: 178px;
}

.topnav-container a {
  text-decoration: none;
  color: white;
}

.nav_links {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
