.score-container {
  position: relative;
  height: 263px;
  border-radius: 8px;
  background-color: #fbfbfb#fbfbfb;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 27%;
  left: 30%;
  font-size: 26px;
  font-weight: 500;
  color: #979797;
}

.percent {
  color: #282d30;
}
