.score-container {
  position: relative;
  height: 213px;
  max-width: 200px;
  background-color: #fbfbfb;
}

.score-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 27%;
  left: 26%;
  font-weight: 500;
  color: #979797;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
}

.percent {
  color: #282d30;
}

@media screen and (min-width: 1024px) and (min-height: 780px) {
  .score-container {
    width: 33%;
  }
}
