.helloContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  height: 263px;
  border-radius: 8px;
}

.tooltip {
  display: flex;
  color: black;
  font-size: 8;
  font-weight: 500;
  align-items: center;
  gap: 40px;
  padding: 10px;
  background-color: white;
}
