.layout_container {
  max-width: 100vw;
}
.content-container {
  display: flex;
}
.content {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
}

.charts-container {
  display: flex;
  width: 90vw;
  /* justify-content: space-around; */
  margin-top: 30px;
  padding-left: 55px;
  gap: 50px;
}

.allcharts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.smallercharts {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
