.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: fit-content;
}

.verticalNavbar {
  height: 100vh;
}

.main {
  display: flex;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.charts {
  width: 94%;
  display: flex;
  margin-left: 50px;
  gap: 10px;
}

.recharts {
  flex-grow: 6;
}
.smaller-charts {
  display: flex;
  gap: 10px;
}
